/* Gameboard styles */
.board-wrapper {
  background: transparent;
  /* padding-top: 1.5em; */
  padding-bottom: 1.5em;
  border: 1px solid var(--faded-body-purple);
  box-shadow: 0 0 20px var(--main-purple);
  color: #fff;
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.board {
  display: grid;
  grid-template-columns: repeat(3, 150px);
  grid-template-rows: repeat(3, 150px);
  grid-gap: 5px;
  justify-content: center;
}

.cell {
  font-size: 4em;
  color: #fff;
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0.1);
  border: 2px solid var(--faded-body-purple);
  transition: all 0.3s ease-in-out;
}

.cell:hover {
  border-color: var(--pink-tint);
  background-color: var(--txtbx-purple);
}

.cell.active {
}

/* @media (max-width: 768px) {
  .board-wrapper {
    max-width: 650px;
  }
} */

@media (max-width: 650px) {
  .board {
    grid-template-columns: repeat(3, 100px);
    grid-template-rows: repeat(3, 100px);
  }
}

/* Player styles */
/* .players {
  margin-bottom: 1em;
} */

.players-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
  /* font-size: 1.5rem; */
  font-size: 1rem;
}

.players-list li {
  /* padding: 0.8rem 1.5rem; */
  padding: 0.4rem 1.2rem;
  margin: auto 0;
}

.players-list li.active {
  border: 1px solid var(--pink-tint);
  background: var(--main-purple);
}

.players-list span {
  font-weight: 600;
}

/* Status styles */
.status {
  font-size: 1.2rem;
}

/* Modal-game over styles */
.modal-title {
  font-weight: 800;
  font-size: 2em;
  color: var(--pink-tint);
  margin-bottom: 0;
}

/* Scoreboard styles */
.score-board {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  text-align: left;
  font-size: 1.2rem;
  width: 60%;
}

.score-board ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  align-items: flex-start;
}

.score-board ul li {
  display: inline-block;
  border-bottom: 1px solid var(--txtbx-purple);
  padding-bottom: 0.2rem;
}

.score-board .stats::after {
  content: "";
  width: 100%;
  height: 1px;
  background: var(--txtbx-purple);
  position: absolute;
  bottom: -0.8em;
  left: 50%;
  transform: translateX(-50%);
}

.emp {
  color: var(--orange-tint);
  font-weight: 600;
  font-size: 1.4rem;
}
