.name-input {
    border: none;
    outline: none;
    background: transparent;
    font-size: 1.8rem;
    width: 100%;
}

.input-wrapper {
    position: relative;
    /* padding: 0 1.2rem;
    margin-bottom: 5px; */
    /* width: 500px; */
}

.input-wrapper::after {
    content: '';
    width: 100%;
    height: 1px;
    background: var(--orange-tint);
    position: absolute;
    left: 0;
    bottom: -.5rem;
}

@media (max-width: 425px) {
    .name-input {
        font-size: 1.5rem;
    }
}