.Btn {
    border: 1px solid var(--faded-body-purple);
    font-size: 2.5rem;
    color: #fff;
    text-transform: uppercase;
    border-radius: 10px;
    font-weight: 600;
    cursor: pointer;
    padding: 1.2rem 3rem;
    letter-spacing: .02rem;
    position: relative;
    overflow: hidden;
    transition: box-shadow .3s ease;
}

.Btn-active {
    background: var(--active-blue);
}

.Btn-active:hover {
    box-shadow: inset 400px 0 0 0 var(--lightblue-tint);
}

.Btn-default {
    background: var(--txtbx-purple);
}