.Card-default {
  background: #fff;
  background-color: #e9e9e9;
  color: #000;
  border-radius: 20px;
  /* box-shadow: 0 0 10px gray; */
  max-width: 800px;
  width: 100%;
  padding: 20px 40px;
  margin-bottom: 50px;
}

@media (max-width: 768px) {
  .Card-default {
    max-width: 650px;
  }
}

@media (max-width: 468px) {
  .Card-default {
    padding: 15px;
  }
}
